.header {
    margin-bottom: 20px;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-info {
    cursor: pointer;
    display: flex;
    gap: 8px;
    align-items: center;
}

.user-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--black-clr);
    transition: var(--tran-03);
}
.user-info:hover .user-name {
    color: var(--primary-clr-90);
}
.user-info:hover .icon > path {
    stroke: var(--primary-clr-90);
}
.icon > path {
    stroke: var(--black-clr);
}
.notification {
}
