.info-card {
    padding-left: 16px;
    background-color: var(--white-clr);
    display: flex;
    align-items: center;
    gap: 16px;
}

.row {
    display: flex;
    padding: 12px 0px;
    padding-right: 16px;
    align-items: center;
    gap: 16px;
    flex-grow: 1;
}
.row.line {
    border-bottom: 1px solid var(--border-clr);
}
.title {
    color: var(--black-clr);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0%;
    margin-bottom: 4px;
}
.desc-title {
    color: var(--desc-clr);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0%;
}
